{{form.value | json}}
<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">

  <div fxflex>
    <mat-card class="example-card">

      <mat-card-header  fxLayout="row" >
        <div fxFlex="80%">
        <mat-card-title  >  Contagem  </mat-card-title>
      </div>
        <div fxFlex="20%" fxLayoutAlign="end " >


        <button  (click)="salvar(form.value)"   mat-raised-button color="primary">Salvar</button>
      </div>
      </mat-card-header>

      <mat-card-content>

        <form [formGroup]="form">


          <input type="hidden" formControlName="contagemResumoId" >
          <input type="hidden" formControlName="movimentoId" >
          <input type="hidden" formControlName="status" >
          <input type="hidden" formControlName="dataAlteracao" >


          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

            <div fxFlex="50%">
              <mat-form-field class="full-width">
                <input matInput placeholder="Descrição" formControlName="descricao">
              </mat-form-field>
            </div>
            <div fxFlex="50%">
              <div fxLayout="column">
                <input type="hidden" #usuarioInput formControlName="usuario" placeholder="Usuario" readonly />
                <label fxflex class="lbl-input">Usuario</label>
                <span fxflex> {{usuarioInput.value}} </span>
              </div>
            </div>

          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

            <div fxFlex="25%">
                <!-- <input  type="text"  [textMask]="{mask: mask}"    formControlName="valorSistema"> -->
              <mat-form-field>
                <input   [textMask]="{mask: numberMask, modelClean: false }"  matInput  formControlName="valorSistema">
               
              </mat-form-field>
            </div>

            <div fxFlex="24%">
              <div fxLayout="column">
                <label fxflex class="lbl-input">Total Contagem</label>
                <span fxflex>{{valorSistema }} </span>
              </div>
            </div>
            <div fxFlex="50%">
              <div fxLayout="column">
                <label fxflex class="lbl-input">Diferença</label>
                <span fxflex> 0.00 </span>
              </div>
            </div>

          </div>

        </form>



      </mat-card-content>


    </mat-card>

  </div>

  <div fxflex>
      <div fxLayout.xs="column"
      fxLayout="row wrap" fxLayoutGap="2px"  class="grid-content" fxLayoutAlign="space-between "   >

        <mat-card class="grid-item"  *ngFor="let item of [1,2,3]" fxFlex="0 0 calc(50% - 20px)" fxFlex.xs="">

          <mat-card-header>{{item}}</mat-card-header>
          <mat-card-content></mat-card-content>



        </mat-card>

    </div>

    <div></div>




  </div>
</div>