<mat-drawer-container class="container-layout ">
  <mat-drawer #drawer mode="side" opened class="drawer-sidenav mat-elevation-z1 " >
      <mat-toolbar  class="primary-800 mat-elevation-z3 "  >
          TesourariaOnline
     
      </mat-toolbar> 
    <div id="container-menu" >
            <mat-list>   
                  <h2 mat-subheader >Ferramentas</h2>           
                    <a   mat-list-item matRipple href="#" >
                      <mat-icon  color="primary"  matListIcon>home</mat-icon>
                      <h2 class="primary-color" matLine> Home </h2>                   
                    </a>
                    <a  mat-list-item matRipple href="#" >
                        <mat-icon matListIcon>person</mat-icon>
                        <h2 matLine> Movimentações </h2>                   
                      </a>
                      <a  mat-list-item matRipple href="#" >
                          <mat-icon matListIcon>person</mat-icon>
                          <h2 matLine> Contagem </h2>                   
                        </a>
                        <a  mat-list-item matRipple href="#" >
                            <mat-icon matListIcon>person</mat-icon>
                            <h2 matLine> Despesas </h2>                   
                          </a>

                    <h2 mat-subheader >Relatórios</h2>  
                    
                    <a  mat-list-item matRipple href="#" >
                        <mat-icon matListIcon>account_balance</mat-icon>
                        <h2 matLine> Extrato </h2>                   
                      </a>
                          
                    <a  mat-list-item matRipple href="#" >
                        <mat-icon matListIcon>assignment</mat-icon>
                        <h2 matLine> Conferencia </h2>                   
                      </a>
                          
                    <a  mat-list-item matRipple href="#" >
                        <mat-icon matListIcon>receipt</mat-icon>
                        <h2 matLine> Recibo </h2>                   
                      </a>
  

                    
            </mat-list>
      </div>
     
          
  </mat-drawer>
 
  <mat-drawer-content >
      <mat-toolbar  fxLayout="row"  color="primary" class="mat-elevation-z3 " >
          <div >
              <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
          </div>
           
    
          <span fxFlex="1 1 auto"></span>
    
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>person</mat-icon>
              </button>
    
            <button  mat-icon-button> <mat-icon>settings</mat-icon> </button>
        </mat-toolbar> 

      <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Perfil</button>
          <button mat-menu-item>Settings</button>
          <button  mat-menu-item (click)="authService.Logout()">Logout</button>
        </mat-menu> 
        
        <div class="container-body">

        </div>



  </mat-drawer-content>
  
</mat-drawer-container>